<p>
  parent {{Counter}}
</p>
<app-child-component [count]="Counter" (countChanged)="countChangedHandler($event)"></app-child-component>

<!--  -->
<!-- <button (click)="child.increment()">Increment</button>
<app-child-component #child></app-child-component> -->

<!-- <p>Current {{child.count}}</p> -->
<!-- <button (click)="increment()">Increment</button> -->


<!-- <app-child-component></app-child-component> -->
